
.square-box {
  width: 300px;
  height: 300px;
  border: 1px solid #392f2f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  align-items: flex-start; 
  justify-content: center;
  box-shadow: 0 4px 6px rgba(16, 76, 98, 0.1);
  background-color: #3f7489;
  text-align: left;
  padding-left: 10px;
}

.circle-photo {
   width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
    align-self: center;
}

.circle-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-fit: cover;
}

.company-name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.designation {
  font-size: 14px;
  color: #111111;
  margin: 5px 0;
}

.company-description {
  font-size: 12px;
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  } margin: 5px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  padding: 20px;
  justify-content: center; 
}

